# Assignment 05 - Random search and hyperopt

## Import Libraries

In [125]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

## Read, analyse and preprocess data

In [126]:
address=r'D:\Machine Learning\Assignment\Assignment 4\titanic (1).csv'
df = pd.read_csv(address)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [128]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [129]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [130]:
df.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [131]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [132]:
X = df[['Pclass','SibSp','Parch','Fare']]
y = df.Survived

In [133]:
y.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [134]:
X.head()

   Pclass  SibSp  Parch     Fare
0       3      1      0   7.2500
1       1      1      0  71.2833
2       3      0      0   7.9250
3       1      1      0  53.1000
4       3      0      0   8.0500

In [135]:
# Scaling the data
from sklearn.preprocessing import StandardScaler
Scaler = StandardScaler()
X = Scaler.fit_transform(X)

In [136]:
pd.DataFrame(X).describe()

                  0             1             2             3
count  8.910000e+02  8.910000e+02  8.910000e+02  8.910000e+02
mean  -2.031048e-16  3.456519e-16  6.716164e-17 -4.373606e-17
std    1.000562e+00  1.000562e+00  1.000562e+00  1.000562e+00
min   -1.566107e+00 -4.745452e-01 -4.736736e-01 -6.484217e-01
25%   -3.693648e-01 -4.745452e-01 -4.736736e-01 -4.891482e-01
50%    8.273772e-01 -4.745452e-01 -4.736736e-01 -3.573909e-01
75%    8.273772e-01  4.327934e-01 -4.736736e-01 -2.424635e-02
max    8.273772e-01  6.784163e+00  6.974147e+00  9.667167e+00

## Split Dataset for Training and Testing

In [137]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# SVM

In [138]:
from sklearn.svm import SVC
model1 = SVC()
model1.fit(X_train,y_train)            
y_pred = model1.predict(X_test)

In [139]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7085201793721974

In [140]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, y_pred)  
print(cm)

[[119   9]
 [ 56  39]]

## K-Fold Cross Validation

In [141]:
from sklearn.model_selection import cross_val_score,KFold
model = SVC()
kf=KFold(n_splits=5)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.65921788 0.71348315 0.7247191  0.73595506 0.7752809 ]
Average Cross Validation score :0.7217312158684326

## Random Search

In [142]:

from sklearn.model_selection import RandomizedSearchCV
parameters ={'C': [0.1, 1, 10, 100, 1000],
             'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
             'kernel': ['rbf']}
random_search=RandomizedSearchCV(estimator=SVC(),
                                 param_distributions=parameters, 
                                 n_iter=100, 
                                 refit='accuracy',
                                 n_jobs=-1,
                                 cv=kf,
                                 verbose=0)
random_result = random_search.fit(X_train, y_train)
print('Best Score: ', random_result.best_score_*100)
print('Best Params: ', random_result.best_params_)

Best Score:  72.14902928964202
Best Params:  {'kernel': 'rbf', 'gamma': 0.1, 'C': 1}

## Hyperopt

In [143]:
from hyperopt import tpe, hp, fmin, STATUS_OK,Trials

In [144]:
space = {'C': hp.choice('C',[0.1, 1, 10, 100, 1000]),
         'gamma': hp.choice('gamma',[1, 0.1, 0.01, 0.001, 0.0001]),
         'kernel': hp.choice('kernel',['rbf'])}

In [145]:
# define objective function

def hyperparameter_tuning(params):
    clf = SVC(**params)
    acc = cross_val_score(clf, X, y,scoring="accuracy").mean()
    return {"loss": -acc, "status": STATUS_OK}

In [146]:
# Initialize trials object
trials = Trials()

best = fmin(
    fn=hyperparameter_tuning,
    space = space, 
    algo=tpe.suggest, 
    max_evals=50, 
    trials=trials
)

print("Best: {}".format(best))

100%|████████████████████████████████████████████████| 50/50 [00:20<00:00,  2.39trial/s, best loss: -0.720657836921725]
Best: {'C': 4, 'gamma': 2, 'kernel': 0}

In [148]:
trials.results

[{'loss': -0.628516728391187, 'status': 'ok'},
 {'loss': -0.6959387357981295, 'status': 'ok'},
 {'loss': -0.6161634548992531, 'status': 'ok'},
 {'loss': -0.628516728391187, 'status': 'ok'},
 {'loss': -0.6925679492812755, 'status': 'ok'},
 {'loss': -0.7049149457033457, 'status': 'ok'},
 {'loss': -0.6959387357981295, 'status': 'ok'},
 {'loss': -0.6161634548992531, 'status': 'ok'},
 {'loss': -0.628516728391187, 'status': 'ok'},
 {'loss': -0.70939677358609, 'status': 'ok'},
 {'loss': -0.7060510953486911, 'status': 'ok'},
 {'loss': -0.691456907915385, 'status': 'ok'},
 {'loss': -0.7105203690917079, 'status': 'ok'},
 {'loss': -0.70939677358609, 'status': 'ok'},
 {'loss': -0.70939677358609, 'status': 'ok'},
 {'loss': -0.6880672901889398, 'status': 'ok'},
 {'loss': -0.681357102504551, 'status': 'ok'},
 {'loss': -0.6206515598518612, 'status': 'ok'},
 {'loss': -0.691456907915385, 'status': 'ok'},
 {'loss': -0.6959387357981295, 'status': 'ok'},
 {'loss': -0.70939677358609, 'status': 'ok'},
 {'loss': -0.70939677358609, 'status': 'ok'},
 {'loss': -0.70939677358609, 'status': 'ok'},
 {'loss': -0.7094407130751366, 'status': 'ok'},
 {'loss': -0.7094407130751366, 'status': 'ok'},
 {'loss': -0.7094407130751366, 'status': 'ok'},
 {'loss': -0.7094407130751366, 'status': 'ok'},
 {'loss': -0.7094407130751366, 'status': 'ok'},
 {'loss': -0.7094407130751366, 'status': 'ok'},
 {'loss': -0.7094407130751366, 'status': 'ok'},
 {'loss': -0.7172933274747348, 'status': 'ok'},
 {'loss': -0.6891783315548301, 'status': 'ok'},
 {'loss': -0.6959387357981295, 'status': 'ok'},
 {'loss': -0.7172933274747348, 'status': 'ok'},
 {'loss': -0.7172933274747348, 'status': 'ok'},
 {'loss': -0.7172933274747348, 'status': 'ok'},
 {'loss': -0.7172933274747348, 'status': 'ok'},
 {'loss': -0.6791099114933149, 'status': 'ok'},
 {'loss': -0.7172933274747348, 'status': 'ok'},
 {'loss': -0.6925679492812755, 'status': 'ok'},
 {'loss': -0.6970560542338836, 'status': 'ok'},
 {'loss': -0.7172933274747348, 'status': 'ok'},
 {'loss': -0.7038227355470467, 'status': 'ok'},
 {'loss': -0.7172933274747348, 'status': 'ok'},
 {'loss': -0.6161634548992531, 'status': 'ok'},
 {'loss': -0.6970560542338836, 'status': 'ok'},
 {'loss': -0.720657836921725, 'status': 'ok'},
 {'loss': -0.7038227355470467, 'status': 'ok'},
 {'loss': -0.7049149457033457, 'status': 'ok'},
 {'loss': -0.6925679492812755, 'status': 'ok'}]

In [124]:
trials.losses()

[-0.7094407130751366,
 -0.7172933274747348,
 -0.6891783315548301,
 -0.6880672901889398,
 -0.681357102504551,
 -0.6891783315548301,
 -0.6970560542338836,
 -0.7094407130751366,
 -0.628516728391187,
 -0.691456907915385,
 -0.7049149457033457,
 -0.6891783315548301,
 -0.6206515598518612,
 -0.6206515598518612,
 -0.7172933274747348,
 -0.6959387357981295,
 -0.70939677358609,
 -0.6161634548992531,
 -0.7105203690917079,
 -0.7150524135333626,
 -0.7172933274747348,
 -0.7172933274747348,
 -0.6791099114933149,
 -0.7172933274747348,
 -0.720657836921725,
 -0.6925679492812755,
 -0.720657836921725,
 -0.720657836921725,
 -0.720657836921725,
 -0.720657836921725,
 -0.720657836921725,
 -0.6925679492812755,
 -0.7038227355470467,
 -0.720657836921725,
 -0.720657836921725,
 -0.681357102504551,
 -0.720657836921725,
 -0.7150524135333626,
 -0.720657836921725,
 -0.7105203690917079,
 -0.6925679492812755,
 -0.628516728391187,
 -0.691456907915385,
 -0.720657836921725,
 -0.7094407130751366,
 -0.6880672901889398,
 -0.6161634548992531,
 -0.720657836921725,
 -0.7150524135333626,
 -0.7105203690917079]